/.idea/
/.hypothesis/
/.__pycache__/
**/testingOutputs/**
*/*.log
*/*.db
*.db
*.log
*.cpython*
**/dist/**
**/build/**
**/settings.txt
scheduleOut/ephems
**.pclprof
scheduleOut/**
scheduleTestingOut/**
schedulerConfigs/Astrophotography/observable.csv
arrayDf.csv
LogOut.csv
*/ephems/
LogOut.csv
files/misc_and_records/temp_addcandidates.csv
/files/configs/**
/files/db_csvs
user_fixed_test.csv
files/temp_addcandidates.csv
files/testing/**
schedulerConfigs/MPC_NEO/cache/uncertainties/*
schedulerConfigs/MPC_NEO/cache/ephems/*
files/outputs/**
.vscode
satellites/
man
html
latex
*ipynb
arrayDf.csv