altgraph
anyio
astral
astroplan
astropy
asyncio
tomli
beautifulsoup4
bs4
certifi>=2023.7.22
charset-normalizer
colorama
colorlog
contourpy
cycler
DateTime
distlib
docopt
exceptiongroup
filelock
fonttools
h11
httpcore
httpx
idna
importlib-resources
iniconfig
kiwisolver
matplotlib
numpy
packaging
pandas
pefile
Pillow
pipreqs
platformdirs
pluggy
pyerfa
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
pytest
python-dateutil
pytz
PyYAML
requests
seaborn
six
sniffio
soupsieve
tomli
tzdata
urllib3
virtualenv
yarg
zipp
zope.interface
configparser
sqlalchemy
flask
colorlog